<div class="container column">
  <div class="align-items-center">
    <h4>Account Login</h4>
    <form action="/">
    
      <div>
        <input type="text" placeholder="請輸入帳號" required>
      </div>
      <div>
        <input type="text" placeholder="請輸入密碼" required>
      </div>

      <button type="submit" class="btn btn-dark">Sign in</button>

    </form>
  </div>

</div>